#main-window {
	--toolbar-bgcolor: #191b28 !important;
	--lwt-toolbar-field-background-color: #1b1d2c !important;
	--lwt-toolbar-field-color: #fff !important;
	--lwt-toolbar-field-border-color: #1b1d2c !important;
	--lwt-toolbar-field-focus: #1b1d2c !important;
	--lwt-toolbar-field-focus-color: #fff !important;
}

.browser-toolbar:not(.titlebar-color) {
	background-color: #191b28 !important;
	color: #fff !important;
	background-image: none !important;
}

#navigator-toolbox {
	--tabs-border-color: #191b28 !important;
	background-color: #1e2030 !important;
}

.tabbrowser-tab {
	background-color: #1e2030 !important;
	--tab-line-color: #697faf;
}

.tabbrowser-tab[selected="true"] {
	color: #fff !important;
	--tab-line-color: #697faf;
}

.tab-background {
	border-radius: 8px 8px 0 0 !important;
	border: 0 !important;
	visibility: visible !important;
	background-image: none !important;
}

.tab-close-button,
.tab-icon-overlay:-moz-any([soundplaying], [muted], [activemedia-blocked]),
.tab-icon-sound
{
	border-radius: 99px !important;
	color: inherit !important;
	-moz-context-properties: fill, fill-opacity !important;
	transition-property: fill-opacity, background-color !important;
	transition-duration: .15s !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-arrowscrollbox
{
	border-radius: 8px 8px 0 0 !important;
	background-color: rgba(0, 0, 0, .1) !important;
	padding-inline-start: 0 !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack::after
{
	content: "" !important;
	position: absolute !important;
	display: flex !important;
	bottom: 0 !important;
	left: 8px !important;
	width: calc(100% - 16px) !important;
	height: 2px !important;
	box-sizing: border-box !important;
	border-radius: 99px 99px 0 0 !important;
	transform: none !important;
	transition-property: top, bottom, left, right, width, height, border-radius;
	transition-duration: .225s !important;
}

.tabbrowser-tab[usercontextid][selected] > .tab-stack::after
{
	bottom: calc(100% - 9px) !important;
	left: calc(100% - 9px) !important;
	width: 6px !important;
	height: 6px !important;
	border-radius: 99px !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2)
{
	.tabbrowser-tab::before
	{
		transform: translateY(.5px) !important;
	}

	.tabbrowser-tab:last-of-type::after
	{
		transform: translate(-1px, .5px) !important;
	}
	
}